:root {
  --text: #ccc;
  --form-bg: #080808;
  --button-border-color: #424242;
  --button-bg: #171717;
  --border-radius: 0.5rem;
  --menu-border-color: #444;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
}

button {
  color: var(--text);
  background-color: var(--button-bg);
  font-size: 0.9rem;
  border: 1px solid var(--button-border-color);
  padding: 0rem 2rem;
  height: 1.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms !important;
  border-radius: var(--border-radius);
}

button:hover {
  border-color: var(--text);
}

#render-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.blocker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1;
}

.blocker-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocker-main-content {
  min-width: 600px;
  background-color: var(--form-bg);
  padding: 2.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--menu-border-color);
}

.blocker-main-content h1 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

#controls-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

.controls-info-table {
  text-align: left;
}

.controls-info-table td,
th {
  border: 1px solid var(--button-border-color);
  padding: 0.25rem;
}

.controls-info-table tr td:first-child,
th:first-child {
  padding-right: 1.25rem;
}

.blocker-main-controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 1rem;
}

.blocker-second-controls {
  text-align: right;
}

.blocker-second-controls button {
  padding: 0.5rem;
}

.blocker-main-controls button:first-child {
  margin-bottom: 1rem;
}

.blocker-settings {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.setting-label {
  padding-top: 1.25rem;
}

.warning {
  text-align: center;
  font-size: 0.75rem;
}

ion-icon.additional {
  margin-right: 0.25rem;
}

#play-button {
  font-size: 1.25rem;
  padding: 1.25rem;
}

input[type=range] {
  height: 9px;
  margin-top: 15px;
  background-color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: white;
  border-radius: 3px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: white;
  border-radius: 3px;
  border: 1px solid black;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}